html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 1336px;
}
ul {
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    margin-bottom: 20px;
}
.el-cascader-menu {
    height: 300px;
}